/* Responsive Styling */
@media screen and (max-width: 768px) {
  .mobile-hide {
    display: none;
  }

  .college-table td {
    display: block;
  }

  .college-info {
    margin-bottom: 10px;
  }

  .college-table td:first-child {
    font-weight: bold;
  }
}


.college-table th {
  text-align: center; 
  /* width: 100%; */
}
.college-row {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 15px;
  align-items: center;
}
.name{
  color:rgb(99, 199, 233);
  font-size: 20px;
}
.loc{
  font-size:12px
}

.college-details {
  display: flex;
  flex: 2;
  align-items: center;
}

.college-logo {
  width: 50px;
  margin-right: 15px;
}

.college-info {
  flex: 1;
}

.course-info {
  font-size: 12px;
  color: #666;
}

.actions button {
  margin: 5px;
  padding: 5px 10px;
}

.apply-now {
  background-color: white;
  border-width: 0;
  color: orange;
}

.download-brochure {
  background-color: white;
  color: green;
  border-width: 0;
}
.course{
  font-size:12px;
}
.fee{
  color:rgb(16, 124, 16);
}
.compare{
  color:orange
}

.fees, .placement, .user-reviews, .ranking {
  flex: 1;
  text-align: center;
  
}

.ranking {
  font-weight: bold;
}

.btn:hover{
  border-radius: 15px;
  font-size: 15px;
  width:100px;
  heigth:20px;
}
.btn{
  margin-bottom: 20px;
  margin-left: 20px;
  border:1px solid orange;
  border-radius: 15px;
  font-size: 12px;
  width:100px;
  heigth:20px;
  color: rgb(225, 152, 18);
  background-color:rgb(231, 221, 203);

}